#project-objectives strong:hover,
#ods-objectives .card-body strong:hover {
    color: var(--hero-strong);
    cursor: pointer;
}

.bg-ods4-opacity {
    background-color: rgba(188, 31, 44, 0.15) !important;
    /* #bc1f2c con 15% de opacidad */
    border-radius: 0.5rem;
    padding: 1rem;
}

.bg-ods8-opacity {
    background-color: rgba(163, 28, 68, 0.15) !important;
    /* #a31c44 con 15% de opacidad */
    border-radius: 0.5rem;
    padding: 1rem;
}