{% extends 'app/base.html' %}

{% block title %}Conclusiones{% endblock %}

{% block content %}
<section id="conclusions" class="mb-5">
    <h2 class="display-6 fw-bold mb-4">Conclusiones: Tu Futuro en tus Manos</h2>
    <p>Tu futuro laboral está en tus manos. Con un enfoque estratégico, un compromiso con el desarrollo profesional
        continuo
        y una adaptación constante al mercado, se pueden alcanzar las metas y construir una carrera exitosa como
        ingenieros
        de sistemas y computación.</p>
    <div class="row gy-4">

        <!-- Enfoque Estratégico -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Enfoque Estratégico</div>
                <div class="card-body">
                    <h5 class="card-title">Enfoque Estratégico</h5>
                    <p class="card-text">
                        Comprender los factores clave que influyen en la empleabilidad te permitirá tomar decisiones más
                        informadas y estratégicas sobre tu formación y desarrollo profesional.
                    </p>
                </div>
            </div>
        </div>

        <!-- Desarrollo Profesional Continuo -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Desarrollo Profesional Continuo</div>
                <div class="card-body">
                    <h5 class="card-title">Desarrollo Profesional Continuo</h5>
                    <p class="card-text">
                        Las certificaciones técnicas, la experiencia práctica y los proyectos relevantes son
                        fundamentales
                        para destacarte en el mercado laboral. Invierte en tu desarrollo profesional continuo para
                        mantenerte actualizado y competitivo.
                    </p>
                </div>
            </div>
        </div>

        <!-- Adaptación al Mercado -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Adaptación al Mercado</div>
                <div class="card-body">
                    <h5 class="card-title">Adaptación al Mercado</h5>
                    <p class="card-text">
                        El mercado laboral está en constante evolución. Mantente al tanto de las nuevas tendencias y
                        tecnologías para adaptar tus habilidades y conocimientos a las demandas del mercado.
                    </p>
                </div>
            </div>
        </div>

        <!-- Tu Futuro en tus Manos -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Tu Futuro en tus Manos</div>
                <div class="card-body">
                    <h5 class="card-title">Tu Futuro en tus Manos</h5>
                    <p class="card-text">
                        Con un enfoque estratégico, un compromiso con el desarrollo profesional continuo y una
                        adaptación
                        constante al mercado, se pueden alcanzar las metas y construir una carrera exitosa como
                        ingenieros
                        de sistemas y computación.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}